doctype html
html
  head
    title Color Picker
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='generator', content='http://chalarangelo.github.io/htmltemplategenerator/')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='public/styleaux.css')
  body
    main
      .picker
        | Red 
        input#red(type='range', min='0', max='255', step='1', value='115')
        |     Green 
        input#green(type='range', min='0', max='255', step='1', value='10')
        |     Blue 
        input#blue(type='range', min='0', max='255', step='1', value='162')
        #display
  script(type='text/javascript').
    var input = document.querySelectorAll("input");
    for(var i = 0; i < input.length; i++){
    input[i].addEventListener("input", function(){
    var red = document.getElementById("red").value,
    green = document.getElementById("green").value,
    blue = document.getElementById("blue").value;
    var display = document.getElementById("display");
    display.style.background = "rgb(" + red + ", " + green + ", " + blue + ")";
    });
    }
        
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
  script(type='text/javascript', src='public/scripts.js')
