html, body, main, #wrapper {
  height: 100vh;
}

body {
  margin-top: -1rem;
}

.colorContainer {
  height: 33.3333333333vh;
  border-bottom: 1px solid black;
}

.background img {
  width: 100%;
}

.picker {
  position: relative;
  padding: 30px;
}

.sidenav .user-view {
  padding: 0;
}

.sidenav .user-view .background {
  position: inherit;
}